# Ambientes virtuais
venv/
env/
.env

# Arquivos locais e IDE
.idea/
__pycache__/
*.pyc

# Configurações locais
config.py

# Ambiente Virtual
.venv/
ENV/

# Python
*.py[cod]
*$py.class

# PyCharm / IDEs
.vscode/

# SO
.DS_Store
Thumbs.db